<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.friedchicken.account.mapper.CustomerAccountMapper">
    <select id="findByMobile" resultType="com.friedchicken.account.dto.CustomerAccountDto">
        SELECT * FROM Customer c LEFT JOIN Account a ON c.customer_id = a.customer_id
        WHERE c.mobile_number = #{mobileNumber}
    </select>
</mapper>
